<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Brush Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Brush.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0581F7B2A41DBEF00710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581F8B2A41DBEF00710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581F952A41DBEF00710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581FA12A41DBEF00710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581FB32A41DBF000710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0581FBD2A41DBF000710C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
